*
  margin 0
  padding 0

body
  background green
  color #555
  min-height 100%

.controls
  position fixed
  top 0
  right 10px
  padding 10px
  background #ccc
  width 280px
  text-align center


.Temporal
  position absolute

.TimelineView
  background #f7f7f7

.EventView
  position absolute
  border-top: 1px solid #333
  left: 150px
  top: 140px
  padding: 10px

  .title
    font-weight: bold




.DayMarker
  margin-left: 20px
  font-size: 1.4em
  font-style: italic
  font-weight: bold

.HourMarker
  margin-left: 20px
  font-weight: bold

.HalfHourMarker
  margin-left: 20px