*{margin:0;padding:0}
body{color:#555;min-height:100%}
.TopbarView{position:fixed;top:0;left:0;width:100%;height:50px;border-bottom:1px solid #333;background:#fff;z-index:1;}
.TopbarView .controls{padding:10px;float:right;}
.TopbarView .controls .slider{width:150px}
.TimelineView{position:relative;top:50px;background:#f7f7f7}
.AxisView{height:100%;width:100px;background:#ccc;border-right:1px solid #333;}
.AxisView .AxisLabel{position:absolute;width:100px;text-align:center;font-weight:bold}
.MinimapView{position:fixed;right:0;top:0;width:120px;background:#008000;height:100%}
.EventView{position:absolute;border-top:1px solid #333;left:100px;top:140px;padding:10px;}
.EventView .title{font-weight:bold}
